.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 10px purple;
}

.heading_div{
    float:none;
    background: cyan;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 10px ;
}

.heading_div2{
    font-size: 18px;
}

.result_para_tag{
    box-shadow: 5px 5px 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.copy_write_footer{
    position: fixed;
    color: white;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    text-align: center;
    line-height: 3;
    margin-top: 120;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 135px;
    margin-bottom: 200px;
}

#abc{
    margin-top: 30px;
}